.app{
  background-color:#E8EAF6;
}
.box {
  background: white;
  border: 1px solid grey;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}

.box:focus {
  outline: none;
}

/* grid */
.grid-row:after {
  clear: both;
  content: "";
  display: table;
}

/* ticTacToe */
.ticTacToe {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction:row;
  margin: 0 auto;
}

/* ticTacToe Info */
ul {
  padding-left: 30px;
}

.ticTacToe-info {
  margin-left: 20px;
}

.status {
  margin-bottm: 10px;
}
